test.py
test2.py
test3.py
test4.py
Metal.hpp
test.cpp
outputs/
metal-cpp=example/
*.metallib
*.o
*.ir

.idea
*.prof
*.txt
*.s
a.out
*.ipynb
*.dot
*.html
*.json
*.ruff_cache/
*.zed/

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.pytest_cache/

test.c
test2
test2.c
test2.py
test.py
